* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-container {
  background-color: #0a0b0d;
  min-height: 100vh;
  padding-bottom: 50px;
}




.header {
  font-family: 'Advent Pro', sans-serif;
  text-align: center;
  padding: 30px 0;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
  margin-top: 10px;
}


.cuadriculas{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 45px; 
  padding: 0 20px;
  max-width: 1400px;
  margin: 0 auto;

}


.graficas{
  height: 400px;
  width: 100%;
  max-width: 1000px;
  background: #131722;
  border-radius: 20px; 
  overflow: hidden;   
  border: 1px solid #2a2e39; 
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  transition: transform 0.3s ease;
  
}

.graficas:hover {
  transform: scale(1.10); 
  border-color: #3a7bd5;
}



@media (max-width: 900px) {
  .cuadriculas {
    grid-template-columns: 1fr;
  }
}